# POSTEGRESQL
SQL_USER="POSTEGRESQL USER NAME"
SQL_PASSWORD="POSTEGRESQL USER PASWORD"
SQL_DATABASE="POSTEGRESQL DATABASE"

# MONGODB
NOSQL_USER="MONGODB USER NAME"
NOSQL_PASSWORD="MONGODB USER PASSWORD"
MONGODB_URI="mongodb://<NOSQL_USER>:<NOSQL_PASSWORD>@localhost:27017/admin"