# =============================================================================
# CONFIGURATION EVENTRY - EXEMPLE
# Copiez ce fichier vers .env et ajustez si nécessaire
# =============================================================================

# --- POSTGRESQL ---
SQL_USER=admin
SQL_PASSWORD=your_postregresql_password
SQL_DATABASE=eventry_db

# --- MONGODB ---
NOSQL_USER=admin
NOSQL_PASSWORD=your_mongodb_password

# --- API CONFIG (Used by Backend) ---
# Note: In Docker, use the service name 'db-sql' or 'db-nosql' as host
DATABASE_URL=postgresql://${SQL_USER}:${SQL_PASSWORD}@db-sql:5432/${SQL_DATABASE}
MONGODB_URI=mongodb://${NOSQL_USER}:${NOSQL_PASSWORD}@db-nosql:27017/eventry?authSource=admin

## --- SÉCURITÉ ---
JWT_SECRET_KEY=generate_key_with_ssh_generator

# --- FRONTEND CONFIG ---
VITE_API_URL=http://localhost:8000/api/v1

# --- CORS ORIGIN ---
CORS_ORIGINS = [
    "https://you-site.vercel.app",       
    "http://localhost:5173",            
    "tauri://localhost",                
    "http://tauri.localhost",            
]